<div class="container mt-5">
  <form class="w-50 mx-auto border p-4 rounded shadow"
        (ngSubmit)="handleForgetPassword()"
        [formGroup]="forgetPassword">
     <h4 class="mb-4 text-center text-success fs-2">Forget Password</h4>
    <p class="text-warning" >please enter your email to receive a password reset link:</p>
    @if(errorMassage){
      <div class="alert alert-danger">
        {{errorMassage}}
      </div>
    }
        <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter your email" />
      @let email = forgetPassword.get('email');
      @if(email?.touched){
        <div>
          @if(email?.getError('required')){
            <span class="text-danger">Email is required</span>
          }
          @else if(email?.getError('email')){
            <span class="text-danger">Invalid email format</span>
          }
        </div>
      }
    </div>
      <button [disabled]="forgetPassword.invalid"
    type="submit" class="btn btn-success w-100">
    @if(isLoading==false){
      <span>Send</span>
    }
   @else {
    <span class="fa-solid fa-spinner fa-spin"></span>
   }
  </button>
  </form>
</div>
